h1 {
    background-color: rgb(202,220,192);
    display: inline-block;
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

h2 {
    background-color: lightgrey;
    font-size: 2.5em;
    margin: 0;
}

hr {
    margin: 0.5em 0em;
}