@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');

h1,h2,h3,h4,h5,h6 {
    background-color: #F0F0F0;
    color: #A4A400;
    text-decoration: underline;
    font-size: 18pt;
    text-align: left;
    font-family: Eater, Helvitica, sans-serif; /* Google Font */
    letter-spacing: 0.25em; /* Wide Headings */
}

h1 {
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
}


body {
    font-size: 11px;
    background-color: white;
    color: #404040;
}

div p {
    margin: 1em;
}

a {
    color: #A4A400;
}


blockquote {
    background-color: #FFFFA8;
}