h1,h2,h3,h4,h5,h6 {
    background-color: #F0F0F0;
    color: #A4A400;
    text-decoration: underline;
    font-family: 'Lucida Sans Unicode', Helvitica, sans-serif;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}


body {
    font-size: 11px;
    background-color: white;
    color: #404040;
}

div p {
    margin: 1em;
}

a {
    color: #A4A400;
}

.hide {
    display:none;
}

.clarify:hover + .hide {
    display: block;
    color: green;
}

blockquote {
    background-color: #FFFFA8;
}