#garden {
    display: flex;
}

.row {
    border: 10px solid gray;
}

.hidden {
    display: none;
}

.spot {
    background-color: burlywood;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
